.parent {
    display: flex;
    margin-top: 20px;
    justify-content: center;
    align-items: center;

}
.block {
    min-width: 300px;
    min-height: 146px;
    overflow: hidden;
    background: #E0E0F8;
    border-radius: 9px;
    border: 3px solid black;

}

.block > h1 {
    text-align: center;
}


